body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: #005b96;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #e1f5fe;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0288d1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.content {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}

.success {
    color: green;
    font-weight: bold;
}
